
.roller {
    position: relative;
    /* border: 2px solid blue; */
    width: 100%;
    left: 0px;
    box-sizing: border-box
}
#reklamenPanel1, #reklamenPanel2, #reklamenPanel3{
    width: 358px;
/* border: 2px solid red; */
overflow: hidden;
box-sizing: border-box;
margin: 37px 0;
}
#reklamenPanel1 input{
    margin:0 4px;
}
.innerPanel {
    display: inline-flex;
}
.innerPanel a {
    color:whitesmoke;
}
.innerPanel h4 h5 {
    margin: 10px 0;
}
.innerPanel footer{
    margin-top: 20px;
    font-size: 12px;
}
.roller img {
    height: 100px; 
}
.izbori {
    position: relative;
    top: 4px;
    left: 280px;
    z-index: 5;
}