
.roller {
    position: relative;
    /* border: 2px solid blue; */
    width: 100%;
    left: 0em;
    box-sizing: border-box
}
#reklamenPanel1, #reklamenPanel2, #reklamenPanel3{
    width: 22.375em;
/* border: 2px solid red; */
overflow: hidden;
box-sizing: border-box;
margin: 2.3125em 0;
}
#reklamenPanel1 input{
    margin:0 4px;
}
.innerPanel {
    display: inline-flex;
}
.innerPanel a {
    color:whitesmoke;
}
.innerPanel h4 h5 {
    margin: 0.625em 0;
}
.innerPanel footer{
    margin-top: 1.25em;
    font-size: 0.75em;
}
.roller img {
    height: 6.25em; 
}
.izbori {
    position: relative;
    top: 0.25em;
    left: 17.5em;
    z-index: 5;
}